h1 {
  font-size: 3.5rem;
}
ul.sf-menu li {
  float: right;
 /* @media screen and (max-width: 768px) {
    float: left;
  }*/
}
header {
  background: url(/themes/custom/frams/assets/images/nav.png) center no-repeat !important;
  background-size: cover !important;
  .logo img {
    width: 50%;
    height: auto;
  }

}
header.sticky {
  position: fixed !important;
  z-index: 999;
  transition: 0.2s top cubic-bezier(.3,.73,.3,.74) !important;
  background: url(/themes/custom/frams/assets/images/nav.png) center no-repeat !important;
  background-size: cover !important;
  .logo img {
    width: 50% !important;
    height: auto !important;
  }
}
.main-menu ul.sf-menu a, .user-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  padding: 1rem !important;
  &:hover {
    color: #ffc107;
  }
}

header .user-menu ul {
  flex-direction: row;
  li {
    padding-right: 10px;
  }
}

.node_view ul.pre_links li {
  display: none;
}
.application--full {
  .node_view ul.pre_links li {
    display: block;
  }
}

#block-frapopupblock {
  display: none;
}