h1 {
  font-size: 3.5rem;
}
ul.sf-menu li {
  float: right;
 /* @media screen and (max-width: 768px) {
    float: left;
  }*/
}
.page-front {
  h1.display-3 {
    font-size: 3.5rem;
  }
  p.lead {
    font-size: 1rem;
  }
  .user-menu a{
    padding-left: 0;
    padding-right: 0;
  }
  ul.sf-menu.sf-accordion.sf-expanded {
    flex-direction: column-reverse;
    display: flex !important;
  }
  .main-menu ul.sf-menu a, .user-menu a{
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    &:hover {
      color: #ffc107;
    }
  }
  .accordion .card-header {
    background: #004085;
    color: while;
    color: #fff;
    font-size: 25px;
    padding: 10px;
    text-align: center;
    text-align: center
  }
  .block  h2 {
    background: #004085;
    color: while;
    color: #fff;
    font-size: 25px;
    padding: 10px;
    text-align: center;
    text-align: center
  }
  .hero-banner.container-fluid {
    padding: o;
    padding: 0;
    margin: 0;
  }
  .region-right{
    position: relative;
    header {
      z-index: 999;
      position: absolute;
      background: transparent;
      .logo img {
        width: 100%;
        height: auto;
      }
    }
    header.sticky {
      position: fixed;
      z-index: 999;
      transition: 0.2s top cubic-bezier(.3,.73,.3,.74);
      background: url(/themes/custom/frams/assets/images/nav.png) center no-repeat;
      background-size: cover;
      .logo img {
        width: 50%;
        height: auto;
      }
    }
  }

  .banner-wrapper {
    position: relative;
    background-color: black;
    height: 90vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    video {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: 0;
      -ms-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
    }
    .container {
      position: relative;
      z-index: 2;
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: black;
      opacity: 0.5;
      z-index: 1;
    }
  }
}


header .user-menu ul {
  flex-direction: row;
  li {
    padding-right: 10px;
  }
}

.node_view ul.pre_links li {
  display: none;
}
.application--full {
  .node_view ul.pre_links li {
    display: block;
  }
}

#block-frapopupblock {
  display: none;
}

#block-littlepy-search {
  display: none;
}