h1 {
  font-size: 2.5rem !important;
}
ul.sf-menu li {
  float: right;
 /* @media screen and (max-width: 768px) {
    float: left;
  }*/
}
header {
  background: url(/themes/custom/frams/assets/images/nav.png) center no-repeat !important;
  background-size: cover !important;
  .logo img {
    width: 50%;
    height: auto;
  }

}
.page {
  height: auto !important;
}
header.sticky {
  position: fixed !important;
  z-index: 999;
  transition: 0.2s top cubic-bezier(.3,.73,.3,.74) !important;
  background: url(/themes/custom/frams/assets/images/nav.png) center no-repeat !important;
  background-size: cover !important;
  .logo img {
    width: 50% !important;
    height: auto !important;
  }
}
.main-menu ul.sf-menu a, .user-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  padding: 1rem !important;
  &:hover {
    color: #ffc107;
  }
}
.consolidated {
  .counter {
    background-color:#f5f5f5;
    padding: 20px 0;
    border-radius: 5px;
  }

  .count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
  }

  .count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
  }

  .fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #4ad1e5;
  }
}

header .user-menu ul {
  flex-direction: row;
  li {
    padding-right: 10px;
  }
}

.node_view ul.pre_links li {
  display: none;
}
.application--full {
  .node_view ul.pre_links li {
    display: block;
  }
}

#block-frapopupblock {
  display: none;
}
.fra-register-block {
  display: none;
}
.view-detailed-list {
  .views-exposed-form {
    .form-group {
      margin-bottom: 1rem;
      width: 30%;
      display: inline-block;
    }
  }
  td {
    font-size: 0.8rem;
  }
}